.dotNavigation{
    width: 90%;
    height: 5%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot{
    width: 5px;
    height: 5px;
    background-color: black;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.selectDot{
    height: 10px;
}

.dot:hover{
    transition: all 0.2s;
        height: 10px;
}