*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    color: red;
    text-align: center;
}

.settings{
    margin: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
}

label{
    color: white;
    margin:0 4px 0 15px
}

input{
    margin:0 1%
}