.wrapper {
  width: 100vw;
  height: 93vh;
  background-color: crimson;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.slideTrack {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  transition: all 0.5s;
}

.slideWrapper {
  width: 90%;
  height: 90%;
  border: 2px solid black;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.slide {
  height: 95%;
  border: 5px solid black;
  margin: 0 1%;
  background: cornsilk;
  overflow: hidden;
  flex-basis: 100%;
  
}
